# ===============================
# DATABASE
# ===============================

DB_URL=jdbc:postgresql://localhost:5433/SmartTicket_db
DB_USERNAME=postgres
DB_PASSWORD=your_database_password

POSTGRES_DB=SmartTicket_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORT=5433


# ===============================
# CLOUDINARY
# ===============================

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret


# ===============================
# REDIS
# ===============================

REDIS_HOST=localhost
REDIS_PORT=6379